{{#if ps}}
    {{#each ps as |p|}}
      <div class="list-group-item">
        <h3 class="list-group-item-heading">{{p.title}}</h3>
        <p class="date">Last Modified: {{p.updatedAt}}</p>
        <button data-id={{p.id}} type="button" class="edit-post btn btn-primary">edit </button>
        <button data-id={{p.id}} type="button" class="delete-post btn btn-danger" data-toggle="modal" data-target="#delete-post-modal">
          Delete Post
        </button>
      </div>
      <br>
    {{/each}}
{{else}}
<h4 class="list-group-item-heading">This site doesn't have any blog posts yet.</h4>
<p class="list-group-item-text" > You can create one by clicking the buttons on the left</p>
{{/if}}
